body{
     background-color:#F6f6EF;    
     margin: 10px 60px;
}

.top-bar {
     background-color: skyblue;
     padding: 0 40px;
}

.navbar {
     position: absolute;
     top: 28px;
     right: 80px;
}

.logout {
     color: rgb(255, 255, 255);
     font-size: larger;
     background-color:rgb(238, 80, 80);
     background-size: 10px 10px;

}

.back {
     position:absolute;
     top: 28px;
     right: 1653px;
     font-size: 28px;
     color: #F6F6EF;
}